{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mb-4">About Us</h1>

{% comment %} <!-- Student Info -->
<div class="card mb-5">
    <div class="card-body text-center">
        <h4>Student Information</h4>
        <p>Name: Your Name</p>
        <p>Student ID: 68047692</p>
        <p>Course: Web Framework Security</p>
    </div>
</div> {% endcomment %}

<!-- Gallery Title -->
<h3 class="text-center mb-3">ภาพกิจกรรม</h3>

<!-- Gallery Grid -->
<div class="container">
    <div class="row g-3">

        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1509042239860-f550ce710b93"
            class="img-fluid rounded">
        </div>

        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085"
            class="img-fluid rounded">
        </div>

        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1511920170033-f8396924c348"
            class="img-fluid rounded">
        </div>

        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1521302080334-4bebac2763a6"
            class="img-fluid rounded">
        </div>

        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1504639725590-34d0984388bd"
            class="img-fluid rounded">
        </div>

        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1507133750040-4a8f57021571"
            class="img-fluid rounded">
        </div>

        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1515823064-d6e0c04616a7"
            class="img-fluid rounded">
        </div>

        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1470337458703-46ad1756a187"
            class="img-fluid rounded">
        </div>

        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1506089676908-3592f7389d4d"
            class="img-fluid rounded">
        </div>

    </div>
</div>

{% endblock %}