{% extends 'base.html' %}

{% block content %}

<!-- Header Banner -->
<div class="p-5 mb-4 bg-dark text-white rounded-3" style="
background-image: url('https://images.unsplash.com/photo-1500530855697-b586d89ba3ee');
background-size: cover;
background-position: center;">
    <div class="container py-5 text-center">
        <h1 class="fw-bold">ยินดีต้อนรับสู่เว็บไซต์ของรายวิชา ICT12367</h1>
    </div>
</div>

<h5 class="text-primary mb-4">
ยินดีต้อนรับเข้าสู่รายวิชา ICT12367 การใช้กรอบงานสำหรับการพัฒนาเว็บแอปพลิเคชันเพื่อความมั่นคงปลอดภัย
</h5>

<hr>

<!-- Section 1 -->
<div class="row align-items-center mb-4">
    <div class="col-md-3">
        <img src="https://images.unsplash.com/photo-1500534314209-a25ddb2bd429"
        class="img-fluid rounded">
    </div>
    <div class="col-md-9">
        <h5>สินค้า</h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Maiores neque porro doloribus, molestias veniam ratione.
        </p>
    </div>
</div>

<hr>

<!-- Section 2 -->
<div class="row align-items-center mb-4">
    <div class="col-md-3">
        <img src="https://images.unsplash.com/photo-1500534314209-a25ddb2bd429"
        class="img-fluid rounded">
    </div>
    <div class="col-md-9">
        <h5>บริการ</h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Maiores neque porro doloribus, molestias veniam ratione.
        </p>
    </div>
</div>

<hr>

<!-- Section 3 -->
<div class="row align-items-center mb-4">
    <div class="col-md-3">
        <img src="https://images.unsplash.com/photo-1500534314209-a25ddb2bd429"
        class="img-fluid rounded">
    </div>
    <div class="col-md-9">
        <h5>เกี่ยวกับเรา</h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Maiores neque porro doloribus, molestias veniam ratione.
        </p>
    </div>
</div>

<hr>

<!-- Google Map -->
<h4 class="mt-5">แสดงแผนที่ใน Google Map</h4>

<div class="ratio ratio-16x9 mt-3">
<iframe
    src="https://maps.google.com/maps?q=Chiang%20Mai&t=&z=10&ie=UTF8&iwloc=&output=embed"
    allowfullscreen>
</iframe>
</div>

{% endblock %}